/* common styles */

a {
  color: #1565c0;
  font-weight: 600;
}

.active {
  color: #e57ca4
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@font-face {
  font-family: Karusel; /* Имя шрифта */
  src: url('../fonts/Karusel.ttf'); /* Путь к файлу со шрифтом */
}

.h1 {
  font-family: Karusel;
  color: #e57ca4;
  text-shadow:
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
  font-size:36px;
}

.h2 {
  font-family: Karusel;
  color: #1565c0;
}

@media (min-width: 1200px) {

  .container {
    max-width: 960px;
  }
}

button {
  box-shadow: 0px 5px 10px #999;
  font-weight: 600!important;
  text-align: center;
}

.btn-primary {
  background-color: #1565c0;
  border-radius: 14px;
}

.btn-secondary {
  background-color: #e57ca4;
  border-radius: 14px;
  border-color: #e57ca4;
}

.btn-secondary-2 {
  background-color: #e57ca4;
  border-radius: 14px;
  border-color: #e57ca4;
  width: 175px;
}

.block-title {
  color: #1565c0;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  margin-bottom: 3rem;
}


.block-image  {
  margin: auto;
}

.block-image img {
  width: 100%;
  height: auto;
}


/* common styles */


/* clouds */


.cloud-container {
  position: absolute;
  margin: auto;
  top:0; bottom:0; left:0; right:0;
  display: block;
  z-index: 0!important;
  pointer-events: none;
}

.cloud-1 {
  zoom: 35%;
  padding-top:17rem;
}

.cloud-2 {
  zoom: 35%;
  padding-top:7rem;
  padding-left: 3rem;
}

.cloud-3 {
  float: right;
  zoom: 35%;
  padding-right: 18rem;
}

.cloud-4 {
  float: right;
  zoom: 35%;
  margin-top: -16rem;
  margin-right: -18rem;
}

.cloud-5 {
  float: right;
  zoom: 35%;
  margin-top: -20rem;
  margin-right: -25.3rem;
}
.cloud-6 {
  float: right;
  zoom: 35%;
}

.cloud-7 {
  float: left;
  zoom: 35%;
  padding-top: 18em;
}
.cloud-8 {
  float: left;
  zoom: 35%;
  padding-top: 55em;
  padding-left: 10em;
}
.cloud-9 {
  float: right;
  zoom: 35%;
  padding-top: 69em;
  margin-right: -341px;
}
.cloud-10 {
  float: left;
  zoom: 35%;
  padding-top: 120em;
  margin-left: -25em;
}
.cloud-11 {
  float: left;
  zoom: 35%;
  padding-left: 10em;
}
.cloud-12 {
  float: right;
  zoom: 35%;
  padding-right: 30em;
}
.cloud-13 {
  float: left;
  zoom: 35%;
  margin-left: -422px;
  padding-top: 30em;
}
.cloud-14 {
  float: right;
  zoom: 35%;
  padding-top: 50em;
  margin-right: -30em;
}
.cloud-15 {
  float: left;
  zoom: 35%;
  margin-left: -10em;
  padding-top: 60em;
}
.cloud-16 {
  float: right;
  zoom: 35%;    padding-top: 72em;
  margin-right: -11em;
}


/* clouds */

/* block main */

.block-main {
  min-height: 400px;
  background: linear-gradient(to bottom, #b3e7fc, #dff1ff);
  width:100%;    
  padding-bottom: 3rem;
}

.block-main .container {
  padding-top: 7em;
  z-index: 1;
}

.block-main-description {
  color: #1565c0;
  font-weight: 600;
  text-align: center;
}


.block-main-ribbon-3 {
  height: 4rem;
  background-image: url('../img/ribbon_blue.png');
  background-size: contain;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  padding: 5px;
}

.block-main-ribbons {
  width: 85%;
  margin: auto;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
}

.block-main-ribbon-1 {
  height: 4rem;
  background-image: url('../img/ribbon_pink.png');
  background-size: contain;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  padding: 5px;
}

.block-main-ribbon-2 {
  height: 4rem;
  background-image: url('../img/ribbon_green.png');
  background-size: contain;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  padding: 5px;
}

.block-main-ribbons {
  width: 85%;
  margin: auto;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
}

.block-main-info {
  text-align: left;
  padding: 0px 4em;
  font-size: 14px;
  margin-top: 3em;
}


button .row .col-6 {
  margin: auto;
}

.cards {
  padding-top: 1rem;
  zoom: 40%;
}

.transition {
  width: 100%;
}

.block-main .container .row .col-5 {
  padding: 0px;
}

/* block main */

/* block about */

.block-about {
  padding-top: 3rem;
  background-color: #fef7fb;
}

.block-about-list p img {
  zoom: 45%;
  float: left;
  margin-right: 2rem;
}

.block-about-list p {
  margin-top: 1.5rem;
  display: inline-flex;
  font-weight: 600;
}

.block-about-reasons {
  padding-left: 1rem;
}

.block-about-reasons p {
  display: inline-flex;
  font-weight: 600;
}

.block-about-reasons p .index {
  float:left;
  margin-right: 2rem;
  font-size: 36px;
  font-weight: 600;
  color: #e57ca4;
}

.block-about-reasons-desc {
  margin:auto;
}

/* block about */

/* block about 2 */

.block-about-2 {
  padding-top: 3rem;
  background-color: #fef7fb;
  padding-bottom: 4rem;
}

/* block about 2 */

/* block about 3 */

.block-about-3 {
  padding-top: 3rem;
  background-color: #fef7fb;
  padding-bottom: 4rem;
}

.block-about-3-image {
  width:100%; 
  height: auto; 
  margin: auto
}

.block-about-3 .container .block-title {
  padding-top:3rem;
}

.testimonials-img {
  margin:auto;
  margin-top: 15px;
  margin-bottom: 30px;
  zoom:35%; 
  display:block;
}
.testimonials-text {
  margin-top: 25px;
}

.indent {
  text-indent: 25px;
}

/* block about 3 */

/* block description */

.block-description {
  background: linear-gradient(to bottom, #b8e9fd,#cdedfe);
}


.block-description-list p img {
  zoom: 45%;
  float: left;
  margin-right: 2rem;
}

.block-description-list p {
  margin-top: 1.5rem;
  font-weight: 600;
}

.card-container .col-4 {
  padding: 0.5em;
}

.card-1 {
  background-color: #c2eefc;
  border-radius: 25px;
  padding: 1em;
}

.card-2 {
  background-color: #eedee6;
  border-radius: 25px;
  padding: 1em;
}

.card-3 {
  background-color: #ddf5df;
  border-radius: 25px;
  padding: 1em;
}

.block-description .cloud-container {
  padding-top: 137em;
}

.block-description .container .block-title {
  padding-top:3rem;
}

.block-description-image {
  margin:auto; 
  zoom:30%;
}

.block-description-text {
  padding-left:3rem;
}

.block-description-text b {
  color: #1565c0;
}

/* block description */

/* footer */

.footer {
  padding-top: 10em;
  background-color: #b9e8fc;
  padding-bottom: 1.5em;
}

.footer .container {
  line-height:2em;
}

.socials {
  float:right;
}

.socials button {
  border-radius: 100px;
  padding: 0.5em 0.6em;
}

/* footer */

/* block pages */

.block-pages {
  background-color: #b9e8fc;
}

.block-pages .cloud-container {
  padding-top: 290em;
}

.tablet-img {
  zoom:35%;
}

.block-pages-text {
  margin: auto;
}

/* block pages */

/* menu */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #b7e7fc;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}


.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 58px 38px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #1565c0;
  display: block;
  height: 0.5rem;
  position: relative;
  transition: background .2s ease-out;
  width: 2em;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #1565c0;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 1rem;
}

.header .menu-icon .navicon:after {
  top: -1rem;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 1000px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 990px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    display: table;
    margin: 0 auto;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .header ul {
    background-color: unset;
  }
}

/* menu */

/* Swiper */

  .swiper-container {
      width: 340px;
      height: 460px;
      position: absolute;
      margin-top: -31.5rem;
      margin-left: 5.2rem;
  }
  .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 340px;
      height: 460px;
    }
    .swiper-wrapper img {
      zoom: 35%;
    }
    .swiper-pagination {
      visibility: hidden;
    }
/* Swiper */

/* modal */

.modal-content {
  background-color: #d5effd;
  border: none;
  border-radius: 20px;
}
.modal-body {
  padding: 2rem;
}

.modal-row {
  background-image: url(../img/modal-clouds.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.modal-row .col-7 {
  padding-top: 7.2rem;
}

.modal-header {
  border-bottom: none;
}

.modal-header .close {
  box-shadow: none;
  zoom: 120%;
  padding: 0.8rem;
}

.modal-body .h2 {
  font-size: 22px;
}

.modal-body .block-main-description {
  font-size: 16px;
}

.modal-body .img-fluid {
  padding-top: 2rem;
}

.form-control {
  background-color: rgb(213, 239, 253);
  border-color: rgb(51, 51, 51);
}

textarea {
  height: 144px!important;
  resize: none;
}
/* modal */

/* adaptive */

@media (max-width: 992px) {
  body {
    font-size: 32px;
  }
  .container {
    max-width: 899px;
  }
  .block-main .img-fluid {
    margin-left: -2rem;
  }
  .block-main .h1 {
    padding-top: 2rem;
  }
  .h1 {
    font-size: 60px;
  }
  .block-main-description {
    font-size: 38px;
  }
  .block-main-ribbon-1, .block-main-ribbon-2, .block-main-ribbon-3  {
    background-size: cover;
    list-style-type: circle;
    font-size: 42px;
    margin-top: 4rem;
    height: auto;
    display: list-item;
    list-style-image: url(../img/check.png);
    background: none;
    text-align: left;
    padding-left: 1rem;
    font-style: normal;
    line-height: 2.5rem;
  }
  .block-main-ribbons br {
    display: none;
  }
  .block-main-info {
    padding: 0px 5rem;
    font-size: 42px;
    margin-top: 3rem;
  }
  .btn {
    font-size: 3rem;
    border-radius: 50px;
    margin-left: 0px!important;
  }

  .btn br {
    display: none;
  }
  .block-main button {
    width: 100%;
    margin-bottom: 3rem;
    height: 10rem;
  }
  .block-main-info img {
    zoom: normal;
  }
  .block-about-list br, .block-about-3 br {
    display: none;
  }
  .block-about-list p img {
    zoom: 75%;
    height: fit-content;
  }
  .block-title {
    font-size: 55px
  }
  .block-about .block-image {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .block-about button, .block-description button {
    padding: 1rem 4rem;
    margin-bottom: 3rem;
  }
  .block-description .cloud-container, .block-pages .cloud-container {
    display: none;
  }
  .block-about-2 .row img {
    margin-bottom: 3rem;
  }
  .block-about-3 p {
    font-size: 32px;
  }
  .block-about-3 .row img {
    margin: 3rem 0;
  }
  .block-pages .tablet-img {
    display: none;
  }
  .swiper-container {
    margin: 0 1rem;
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 1193px;
  }
  .block-pages .btn {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .swiper-slide {
    width:100%!important;
    height:auto;
  }
  .block-pages .prev, .block-pages .next {
    display: none;
  }
  .swiper-pagination {
    width: 100%;
    position: relative;
    visibility: visible!important;
  }
  .swiper-pagination-bullet {
    margin: 3rem 1rem;
    width: 25px;
    height: 25px;
  }
  .block-pages button {
    margin-bottom: 3rem;
    width:70%!important;
    padding: 2rem 4rem;
  }
  .footer .socials {
    display: none;
  }
  .footer {
    text-align: center;
    padding-top: 4rem;
  }
  .modal-body img {
    display: none;
  }
  .modal-dialog {
    margin: 10rem auto;
    max-width: 900px;
  }
  .modal-body .h2 {
    font-size: 52px;
  }
  .modal-body .block-main-description {
    font-size: 36px;
    margin-bottom: 3rem;
  }
  .modal-body b {
    margin-top: 3rem;
    display: block;
  }
  .modal-row {
    background-image: none;
  }
  .form-control {
    font-size: inherit;
    height: calc(2.25rem + 52px);
  }
  textarea {
    height: 218px!important;
  }
  .modal-body button {
    font-size: 2rem;
    margin: 2rem auto!important;
    display: block;
  }
  .modal-header .close {
    font-size: 4.5rem;
    zoom: normal;
  }
  .menu {
    font-size: 42px;

  }
  .header li a {
    padding: 1rem 20px;
  }
  .block-description .col-3 {
    /*display: none;*/
  }
}

/* adaptive */

/* owl carousel */
.disabled {
  display: none;
}

.owl-item {
  line-height: 1.3rem;
  text-align: center;
}
/* owl carousel */